{% load static %}
	<div class="form">
		<form action=/blog/add-post method="POST">{% csrf_token %}
            <div class="inner-border">
			 <label for="title">nazwa</label> <br/>
			     <input class="text-input" type="text" id="title" name="title" /><br/>
                    <label for="category">kategoria</label> <br/>
			         {% if categories %}
			         <select name="category" id="category">
				        {% for category in categories %}
					       <option value="{{ category.title }}">{{category.title}}</option>
				        {% endfor %}
			         </select><br/>
			         {% else %}
				        <p> no categories click here to add a category</p>
			         {% endif %}
			         <label for="body">tresc</label><br/>
			         <textarea id="body" name="body" rows="10" cols="40"></textarea><br/>
            </div> <!-- end of inner-border -->
            <input class="submit" type="submit" value="add"/><br/>
		</form>
	</div>