{% include 'header.html' %}		
    <div class="sidebar">
        {% include "home/sidebar.html" %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% if user.id == None %}
					<p>user not logged in please <a href="#" >sign in</a> or <a href="#">log in</a> to view messages</p>
                    {% include "home/login.html" %}
				{% else	%}	
                        {% if posts %}
	                   <div class="main-shapeshift">                            
                                {% for post in posts %}
                                    <div class="post-shapeshift">
                                        <div class="page-header">
									       <h3><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
								        </div>
								            <h5>{{ post.category }}  </h5>
                                            <p> {{ post.body }}</p>
								            <hr/>
								            <div><p>{{ post.posted }}</p></div>	
                                            <div class="position">{{ post.id }}</div>
                                        </div>
                                {% endfor %}
                            
                        </div> <!-- end of div.main-shapeshift -->
                    {% else %}
                        <div class="posts-empty">
                            <p>no posts to display</p>
                        </div>
                    {% endif %}
                {% endif %}
        </div>
        </div> <!-- end of div.row -->
        <div class="add-post">
                {% include "home/add_home.html" %}
            </div>
        </div> <!-- end of div.container -->
{% include 'footer.html' %}
