{% include 'header.html' %}
{% load static %}
		<h1>Hello, world!</h1>
		<img id="olympic" src="{% static "img/rio2016.png" %}" data-img='{%static "img/vancouver2010.png" %}' alt="nie_drzewo" />
		
		<script type="text/javascript" src="{% static "js/jquery-2.1.0.js"%}"></script>
		<script type="text/javascript" src="{% static "js/main.js" %}" ></script>
{% include 'footer.html' %}
