{% include "header.html" %}
	{% load static %}
	{% if login_message %}
	 <p>{{ login_message }} </p>
	{% else %}
	   <p>no login message</p>
	{% endif %}
	{% if user %}
		<p>user id: {{ user.id }} </p>
		<p> user name: {{ user.first_name }} </p>
		<p> user last name: {{ user.last_name }} </p>
	{% else %}
		<p>no user</p>
	{% endif %}
	<div class="login-form">
		<form action="/blog/login-user" method="post">{% csrf_token %}
			<label for="login-username">login</label>
			<input id="login-username" name="username"/><br/>
			<label for="login-password">password</label>
			<input id="login-password" name="password"/>
			<input type="submit" value="login"/>
		</form>
		<a href="/blog/logout-user">logout</a>
	</div>


{% include "footer.html" %}

