{% include "header.html" %}
	{% if post %}
		<div class="post">
			<div class="page-header">
				<h3>{{ post.title }} </h3>
			</div>
			<p>{{ post.body }}</p>
			<hr/>
			<div class="page-footer">
				<h4>{{ post.category }}</h4>
				<h5>{{ post.posted }} </h5>
			</div>
		</div>
	{% else %}
		<p>brak postu o podanym id</p>
	{% endif %}

{% include "footer.html" %}
