	<h2>this is the sidebar</h2>
    <nav>
	   <ul>
           <li><a class="current" href="#">Home</a></li>
           <li><a href="#">Add categories</a></li>
           <li><a href="#">Profile</a></li>
           <li> <a href="#">Categories</a></li>
           <ul>
	       {% if categories %}
		      {% for category in categories %}
			     <li><a class="category" href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
		      {% endfor %}
	       {% endif %}
           </ul>
           <li><a href="blog/logout-user">logout</a></li>
        </ul>
    </nav>