{% include 'header.html'%}
	{% load static %}
{% if users %}
	<ul>
	{% for user in users %}
		<li> {{ user.last_name }}</li>	
	{% endfor %}
	</ul>
{% else %}
	<p> no users found </p>
{% endif %}
	<div class="form">
		<form action="/blog/create-user" method=post>{% csrf_token %}
			<label for="username">username</label>
			<input id="username" type="text" name="username" />
			<label for="password">password</label>
			<input id="password" type="text" name="password" />
			<label for="email">email</label>
			<input id="email" type="email" name="email" />
			<label for="first_name">first name</label>
			<input id="first_name" type="text" name="first_name"/>
			<label for="last_name">last name</label>
			<input id="last_name" type="text" name="last_name"/>
			<input type="submit" value="register" />
		</form>
		
	</div>	
{% include 'footer.html' %}
