{% load static %}
 <!DOCTYPE html>
<html>
   <head>  
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media='screen and (max-width:768px)'  href="{% static "css/style_min.css" %}" type="text/css"/>
        <link rel="stylesheet" media='screen and (min-width:769px)'  href="{% static "css/style_regular.css" %}" type="text/css"/>
	</head>
	<body>
	<div class="header">
	
</div><!-- end of header -->		 
