body
{
	background-color:black;
}

.post{
	background-color:#FFF;
	margin-top:10px;
	margin-bottom:10px;
	padding:20px;
}

#sidebar{
	padding:20px;
	background-color:#FFF;
	height:500px;
}
.content-header{
background-color:#FFF;
}
