.test_container {
  position: relative;
  width: 100%;
    
    background:black;
}

.test_container div {
  height: 50px;
  position: absolute;
  width: 50px;
    background:yellow;
}



.container
{
    background: url(images/BG.png); 
    background-size: cover;
    margin-left: 253px;
    margin-right: 0px;
}

.post{
    background-color: rgba(186, 153, 197, 0.35);
	margin-top:10px;
	margin-bottom:10px;
	padding:20px;
    color:#fff;
    color: #fefefe;
    font: 700 13px Raleway;
}

.sidebar{
    position: fixed;
    width: 253px;
    height: 1480px;
    float: left;
    background-color: #ffffff;
}
.content-header{
background-color:#FFF;
}

nav ul{
    list-style: none;
    padding: 0px;
}

nav ul li a:link,nav ul li a:visited,nav ul li a:active{
    display: block;
    text-decoration: none;
    height: 42px;
    text-align: center;
    color: #707070;
    font: 600 15px Raleway;
    line-height: 40px;
    text-transform: uppercase;
}

nav ul li a.current:link,nav ul li a.current:visited,nav ul li a.current:active{
    background-color: #d1a6df;
    color:#fff;
}

.category{
    background-color: rgba(0,0, 0, 0.1);
}
nav ul li a:hover{
    display: block;
    background-color: rgba(209, 166, 223, 0.5);
}

.add-post{
    position: fixed;
    top:60px;
    right:30px;
    background-color:rgba(186, 153, 197, 0.0);
}
.add-post .inner-border{
    background-color:rgba(186, 153, 197, 0.5);
    padding:20px;
}

input.submit{
    background-color: rgba(186, 153, 197, 0.35);
    margin-top:15px;
    float:right;
    color:rgba(255, 255, 255, 0.75);
    font: 500 13px / 18px Raleway;
    box-shadow: none;
    border:none;
    width: 200px;
}

input#title{
    width: 100%;
    background-color: rgba(0,0, 0, 0.1);
    border:none;
}
textarea{
    background-color: rgba(0,0, 0, 0.1);
    border:none;
}

.main-shapeshift{
    position:relative;
    width:100%;
    background-color:blue;
}
.post-shapeshift{
    position:absolute;
    width:100%;
/*    height:50px;*/
    background-color:yellow;
    
}
